{{!-- <div class="container">
    <form action="/adding" method="POST">

        <label for="shop">Select a shop:</label>
        <select id="shops" name="shops">
            <option value="shopOne">Fruit and Veg City</option>
            <option value="shopTwo">Tsjekkers</option>
            <option value="shopThree">Shopryte</option>
            <option value="shopFour">Pick n Play</option>
            <option value="shopFive">Fruit lovers</option>
        </select>

        <label for="exampleEmailInput">Price</label>
        <input class="price" type="number" name="price" step=".01" placeholder="eg. 2.55"
            value="{{price}}">

        <label for="exampleEmailInput">Quantity</label>
        <input class="quantity" type="number" name="qty" step=".01" placeholder="eg. 0.65"
            value="{{counter}}">

        <button class="butn" type="submit" name="button">UPDATE</button>
    </form>


    
</div> --}}