<div class="container">

    <div style="margin-right:650px;">
        <a href="/shopList"><button>BACK</button></a>
    </div>
<form action="/addShop" method="post">
    <div class="addShop" style="margin-bottom: 20px;">
        <!-- Insert name label -->
        <label for="shopnameInput" style="font-weight: bold; font-size: 18px;">Shop Name:</label>

        <!-- Text box... use pattern to disable numeric input into the textbox-->
        <input id="shop" type="text" placeholder="  enter shop name  " name="shop_name">
    </div>

    <div class="add">
        <!-- Add button -->
        <button class="addBtn" type="submit" style="font-size: 15px; margin-bottom: 30px;">ADD</button>
    </div>

    <a href="/shopList">Show shops</a>
    </form>

</div>